<html>
<head>
<title>waste management</title>
</head>
<body>
<header>
<div>
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>

    <div>
        <h2><a href="">My first post</a></h2>
        <p>This is the first blog created using django</p>

    </div>

    <div>
        <h2><a href="">Waste Management</a></h2>
        <p>This is a blog where you can upload the photo of the garbage near your locality<br>
        As the saying goes Think Green Think Clean.So we need to think to keep our locality clean and the our society clean</p>
        <h3><a href="home.html"> Home</a></h3>
    </div>
</header>
</body>
</html>
