{% extends 'blog/base.html' %}
<html>
<head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
<title>waste management</title>
</head>
<body>
<header>
<div class="page-header">
        <h1><a href="/">Django Girls Blog</a></h1><br>
    </div>

    <div>
        <h2><a href="">My first post</a></h2>
        <p>This is the first blog created using django</p><br>

    </div>

    <div>
        <h2><a href="">Waste Management</a></h2>
        <p>This is a blog where you can upload the photo of the garbage near your locality<br>
        As the saying goes Think Green Think Clean.So we need to think to keep our locality clean and the our society clean</p>
        <h3><a href="home.html"> Home</a></h3>
        <h3><a href="feedback.html">Feedback</a></h3>
    </div>
</header>
</body>
</html>
